<%= form_with(model: student, local: true, :class => "form" ) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-control-group">
  <div class="form-control">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="form-control">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
</div>
  

  <div class="form-control">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="form-control">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="form-control actions">
    <%= form.submit :class => "ui button" %>
  </div>
<% end %>
