<%= form_with(model: figure, local: true, :class => "ui form") do |form| %>
  <% if figure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(figure.errors.count, "error") %> prohibited this figure from being saved:</h2>

      <ul>
      <% figure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :level_id %>
    <%= form.text_field :level_id %>
  </div>

  <div class="field">
    <%= form.label :dance_id %>
    <%= form.text_field :dance_id %>
  </div>

  <div class="actions">
<%= form.submit :class => 'ui button' %>
  </div>
<% end %>
