<h1>Dances</h1>
<%= link_to 'New Dance', new_dance_path, class: "ui button" %>
<table class="ui table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dances.each do |dance| %>
      <tr>
        <td><%= dance.title %></td>
        <td><%= dance.description %></td>
        <td><%= dance.category %></td>
        <td><%= link_to 'Show', dance %></td>
        <td><%= link_to 'Edit', edit_dance_path(dance) %></td>
        <td><%= link_to 'Destroy', dance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

