<%= form_with(model: lesson, local: true, :class => "ui form") do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation" class="ui message">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.collection_select(:student_id, Student.all, :id, :last_name, {:prompt => true}, {:class => "ui floating search select dropdown"}) %>
  </div>

  <div class="field">
    <%= form.label :lesson_date %>
    <%= form.text_field :lesson_date, :class => "dateTime" %>
  </div>

  <div class="field">
    <%= form.label :plan %>
    <%= form.text_area :plan %>
  </div>
  
   <div class="field">
    <%= form.label :payment_id %>
    <%= form.collection_select(:payment_id, Payment.all, :id, :to_s, {:prompt => true}, {:class => "ui floating search select dropdown"}) %>
  </div>
  
  <div class="field">
    <%= form.label :package_id %>
        <%= form.collection_select(:package_id, Package.all, :id, :title, {:prompt => true}, {:class => "ui floating search select dropdown"}) %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'ui button' %>
  </div>
<% end %>
