<%= form_with(model: lesson, local: true, :class => "ui form") do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :lesson_date %>
    <%= form.text_field :lesson_date, :id => "dateTime" %>
  </div>

  <div class="field">
    <%= form.label :plan %>
    <%= form.text_area :plan %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'ui button' %>
  </div>
<% end %>
