<h1 class="">Lessons</h1>
<a href="/calendar" class="ui button">Calendar</a>
<%= link_to 'New Lesson', new_lesson_path, class: "ui button" %>
<table class="ui unstackable sortable table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Lesson Date</th>
      <th>Paid</th>
      <th>Planned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td>
          <%= lesson.student.last_name %>
        </td>
        <td>
          <%= I18n.l lesson.start_time, format: :long %>
        </td>
        <td>
          <% if lesson.is_paid %><%= fa_icon "check" %><% end %>
        </td>
        <td>
          <% if lesson.is_planned %><%= fa_icon "check" %><% end %>
        </td>
        <td>
          <%= link_to 'Show', lesson %>
        </td>
        <td>
          <%= link_to 'Edit', edit_lesson_path(lesson) %>
        </td>
        <td>
          <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>  

<br>

<%= link_to 'Download as .xlsx', lessons_path(format: :xlsx) %>