
<div class="ui card fluid">
  <div class="content">
    <div class="header"><h2> <%= @lesson.student.first_name + ' ' + @lesson.student.last_name %></h2></div>
    <div class="meta"><h4><%= @lesson.start_time.strftime("%A, %b. %d - %I:%M%p") %></h4></div>
    <div class="description">
         <h2 class="centered">Plan</h2>
       <%= sanitize @lesson.plan %>
    </div>
  </div>
  <div class="extra content">
    <%= distance_of_time_in_words(@lesson.start_time, Time.now) %> <% if @lesson.start_time < Date.current %>ago.<% else %>until this lesson.<% end %>
     <p class="pull-right"><% if @lesson.is_paid %>Paid: <%= fa_icon 'check' %><% else %>Unpaid: <%= fa_icon 'times' %><% end %>
     <% if @lesson.is_planned %>Planned: <%= fa_icon 'check' %><% else %>Unplanned: <%= fa_icon 'times' %><% end %></p>
  </div>
</div>
<%= link_to 'Back', lessons_path %> |
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Calendar', calendar_index_url %>
