<% require 'time_ago_in_words' %>

<div class="ui card">
  <div class="content">
    <div class="header"><%= @lesson.student.last_name + ', ' + @lesson.student.first_name %></div>
    <div class="meta">Time From Now: <%= distance_of_time_in_words(@lesson.lesson_date, Time.now)  %></div>
    <div class="description">
      <%= @lesson.plan %>
    </div>
  </div>
  <div class="extra content">
    <i class="check icon"></i>
   <%= @lesson.status %>
  </div>
</div>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
