<%= form_with(model: payment, local: true, :class => "ui form") do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id, "Student" %>
        <%= form.collection_select(:student_id, Student.all.order('last_name'), :id, :last_name, {:prompt => true}, {:class => "search dropdown"}) %>
  </div>

  <div class="field">
    <%= form.label :payment_date, "Payment Date" %>
    <%= form.text_field :payment_date, :id => "dateTime" %>
  </div>

  <div class="field inline fields">
    <%= form.label :payment_type, "Payment Type" %>
    <%= form.radio_button :payment_type, 'Cash', :class => "ui radio checkbox"  %>
    <%= form.label :payment_type_cash, 'Cash' %>
    <%= form.radio_button :payment_type, 'Cheque', :class => "ui radio checkbox"  %>
    <%= form.label :payment_type_cheque, 'Cheque' %>
    <%= form.radio_button :payment_type, 'Transfer', :class => "ui radio checkbox"  %>
    <%= form.label :payment_type_transfer, 'Transfer' %>
    <%= form.radio_button :payment_type, 'Credit', :class => "ui radio checkbox"  %>
    <%= form.label :payment_type_credig, 'Credit Card' %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

    <div class="field inline fields">
    <%= form.label :account, "Into Account" %>
    <%= form.radio_button :account, 'IOU', :class => "ui radio checkbox"  %>
    <%= form.label :account_iou, 'IOU' %>
    <%= form.radio_button :account, 'Cash on Hand', :class => "ui radio checkbox"  %>
    <%= form.label :account_cash, 'Cash On Hand' %>
    <%= form.radio_button :account, 'Chequing Account', :class => "ui radio checkbox"  %>
    <%= form.label :account_chequing, 'Chequing Account' %>
  </div>
    <div class="field">
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit :class => "ui button" %>
  </div>
<% end %>
