<!DOCTYPE html>
<html>

<head>
  <title>Adam Hanna Ballroom</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<br>

  <div class="ui container">
    <div class="ui five item menu">

      <%= link_to "Dashboard", root_path, class: "item" %>
        <%= link_to "Lessons", lessons_path, class: "item" %>
          <%= link_to "Students", students_path, class: "item" %>
            <%= link_to "Payments", payments_path, class: "item" %>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "item") %>
                  <% else %>
                    <%= link_to('Login', new_user_session_path, class: "item")  %>
                      <% end %>
    </div>
        <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <%= yield %>
  </div>


</body>

</html>
