<!DOCTYPE html>
<html>

<head>
  <title>Adam Hanna Ballroom</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<br>

  <div class="ui container">
      <img class="ui left medium image rounded" src="https://adamhannaballroom.dance/wp-content/uploads/2018/12/ahbdLogo2018.png">
    
    
    <% if current_user.try(:admin?) %>
   <%= render "layouts/partials/admin_menu" %>
   <% else %>
    <%= render "layouts/partials/main_menu" %>
   <% end %>
        <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <%= yield %>
  </div>

</body>

</html>
