<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= content_for?(:title) ? yield(:title) : "Adam Hanna Ballroom Dance" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="mobile hidden">
<%= render partial: 'layouts/partials/admin_menu' %>
</div>
  <div class="ui sidebar inverted vertical menu">
<%= render partial: 'layouts/partials/sidebar' %>
  </div>
  <div class="pusher">
    <button style="border-radius:0px;" class="ui icon button mobile only" id="menu"><i class="bars icon button"></i></button>
     <div class="ui container" style="margin-top:1em;">

    <%= yield %>
  </div>

  </div>




   
  </body>
</html>
